.wrapper {
    width: 340px;
}

body.grey {
    background-color: #eeefef!important;
    outline: 0;
    border: 0px;
}

.header .col.header-icon {
    padding-left: 0px;
}

.header .col.header-icon .card {
    background-color: #fdba00;
    width: 90px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    margin-top: 35px;

}
.header .col.header-icon .card .card-content {
    height: 85px;
    padding: 16px;
}

.results-text {
   color:purple;
   font-weight: 500;
   font-size: 14px;
}

.header .col.header-icon .card .card-content img {
    width:60px;
}
.menu-bar {
    padding: 5px;
}
.product-name {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 0px;
}


.header .col.product {
    width: 239px;
    padding: 0px;
    margin-top: -9px;
    padding-top: 7px;
    padding-right: 10px;
}

p.description {
    font-size: 11px;
}

.color-purple {
    color: #1e1e65!important;
}

.bg-purple {
    background-color: #1e1e65!important;
    color: #fdba00;
}

.bg-yellow {
    color: #1e1e65;
    background-color: #fdba00!important;
}

.header .row {
    margin-bottom: 10px;
}


.color-yellow {
    color: #ffd665;
    background-color: transparent!important;
    font-weight: 500;
}

.yellowish-btn {
    background-color: #fdba00;
    color: #1e1e65;
    border-radius: 10px;
    margin-bottom: 5px;
}

.yellowish-btn:hover {
    background-color: #ffd665;
}
.yellowish-btn:focus {
    background-color: #ffd665;
}
.yellowish-btn-block {
    width: 100%;
}

.btn-sm {
    padding: 0px;
    width: 40px;
    height: 40px;
}

.btn.rounded {
    border-radius: 50%;
    
}
.footer {
    padding: 5px;
}

.footer .card{
    margin: 0px;
}

.status {
    margin: 0px!important;
    vertical-align: middle;
}

.main table.products_list tr {
    border: 0px;
}

.main table.products_list td {
    padding: 0px 3px;
    font-size: 14px;
}

.footer .card-content {
    padding: 5px;
}

.extension-control {
    border: 1px solid #1e1e65!important;
    border-radius: 15px!important;
    width: 121px!important;
    height: 27px!important;
    font-size: 12px!important;
    padding: 0 8px!important;
    font-weight: 500;
}

.d-inline {
    display: inline-block;
}

.d-block {
    display: block;
}

.mr-1 {
    margin-right: 10px!important;
}

.footer .yellow {
    background: #ffd665!important;
}

.footer .purple {
    background: #1e1e65!important;
}
 .form-add input {
    border: 1px solid transparent!important;
    background-color: white!important;
    border-radius: 30px!important;
    width: 204px!important;
    height: 25px!important;
    padding: 0px 12px!important;
    font-size: 12px!important;
    margin-bottom: 5px!important;
}
.form-add .description {
    margin: 0px;

}

.form-group button
{ 
margin-top: -31px!important;
height: 25px!important;
line-height: 1!important;
padding: 0px 6px!important;
float: right!important;
margin-right: 1px!important;
}

.btn-social {
    height: 30px;
    font-size: 12px!important;
    text-transform: capitalize;
    line-height: 1;
}
.btn-social.facebook {
    background: #3b5998;
    width: 100%;
    color: white;
    text-align: left;
}

.btn-social.google {
    background: #ea4334;
    width: 100%;
    color: white;
    text-align: left;

}

.dropdown-trigger.ext-menu i {
    font-size: 14px;
}