<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../../css/styles.css">
</head>
<body class="grey">
<div class="wrapper">
<div class="header">
    <div class="row">
        <div class="col header-icon">
            <div class="card">
                <div class="card-content">
                    <img src="../../img/check-icon.png">
                </div>
            </div>
        </div>
        <div class="col product">
            <div class="color-purple">
                <p class="product-name">Nike T-Shirt Black MJ Edition</p>
                <p class="results-text">Best prices found</p>
            </div>
        </div>
    </div>
</div>
<div class="main color-purple">
    <div class="container">
        <table class="products_list">
            <tbody>
                <tr>
                    <td><a href="">walmart.com</a></td>
                    <td>Product name</td>
                    <td>$ 970.39 <p class="status d-inline"><i class="material-icons">check</i></p></td>
                </tr>
                <tr>
                    <td><a href="">walmart.com</a></td>
                    <td>Product name</td>
                    <td>$ 970.39 <p class="status d-inline"><i class="material-icons">check</i></p></td>
                </tr>
                <tr>
                    <td><a href="">walmart.com</a></td>
                    <td>Product name</td>
                    <td>$ 970.39 <p class="status d-inline"><i class="material-icons">info</i></p></td>
                </tr>
            </tbody>
        </table>
        <a href="#">see more</a>
    </div>
</div>
<div class="footer">
    <div class="card yellow">
        <div class="card-content color-purple ">
            <button class="btn btn-sm rounded yellowish-btn d-inline mr-1"><i class="material-icons">check</i> </button>
            <p class="d-inline mr-1">Added to wishlist</p>
        </div>
    </div>
</div>
</div>
<script src="../../js/jquery/jquery.min.js"></script>
<script src="../../materialize/js/materialize.min.js"></script>
</body>
</html>